<?xml version="1.0"?>
<model>
  <name>horizon</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>SMBU-PolarBear-Robotics-Team</name>
    <email>dev@polarbear.local</email>
  </author>

  <description>
    Horizon horizontal lidar model (placeholder). Replace meshes/horizon.dae with real model as needed.
  </description>
</model>
